*
{
    background-color:rgb(73, 73, 83);
}
.title
{
    margin-right: 10%;
    margin-left: 10%;
    margin-block-end: 30px;
    font-size: 60px;

    min-height: 125px;
    background-color:darkslategray;
    border:black ridge 5px;
    border-radius: 22px;
    box-shadow: 10px 10px 5px gray;
    padding:10px;
}
#Block1
{
   height: 320px;
   width: 80%;
   float: left;
   margin-left: 10%;
   margin-right: 5%;
   margin-top: 30px;
   background-color: rgb(150, 150, 150);
   border: solid black 7px;
   box-shadow: 0px 10px 10px 5px rgb(53, 53, 53);
   
}
#Block2
{
   height: 320px;
   width: 80%;
   float: left;
   margin-left: 10%;
   margin-right: 5%;
   margin-top: 30px;
   background-color: rgb(114, 114, 114);
   border: solid black 7px;
   box-shadow: 0px 10px 10px 5px rgb(53, 53, 53);
}
#Block3
{
   height: 320px;
   width: 80%;
   float: left;
   margin-left: 10%;
   margin-right: 5%;
   margin-top: 30px;
   background-color: rgb(158, 158, 158);
   border: solid black 7px;
   box-shadow: 0px 10px 10px 5px rgb(53, 53, 53);
}
#GoodBoi
{
    position: relative;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 30px;
    height: 70%;
    transform: rotate(270deg);
    border: ridge gray 7px;
    float: left;
    color: inherit;
}
h4
{
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
    color: rgb(150, 150, 150);

}
ul
{
    margin-left: 5%;
    text-align: left;
    font-size: 20px;
    padding: 5px;
    color: rgb(150, 150, 150);

}
li
{
    color: rgb(150, 150, 150);
}
ol
{
    list-style-type: decimal;
    padding: 5px;
    margin-left: 5%;
    text-align: left;
    font-size: 20px;
    color: rgb(150, 150, 150);
}