*
{
    background-color:rgb(73, 73, 83);
}
.title
{
    margin-right: 10%;
    margin-left: 15%;
    margin-block-end: 30px;
    font-size: 60px;
    text-align: center;
    min-height: 125px;
    background-color:darkslategray;
    border:rgb(17, 17, 17) ridge 5px;
    border-radius: 22px;
    box-shadow: 10px 10px 5px gray;
    padding:10px;
}
#Block1
{
   height: 320px;
   width: 80%;
   float: left;
   margin-left: 15%;
   margin-right: 5%;
   margin-top: 30px;
   background-color: rgb(150, 150, 150);
   border: solid black 7px;
   box-shadow: 0px 10px 10px 5px rgb(53, 53, 53);
   
}
#Block2
{
   height: 320px;
   width: 80%;
   float: left;
   margin-left: 15%;
   margin-right: 5%;
   margin-top: 30px;
   background-color: rgb(114, 114, 114);
   border: solid black 7px;
   box-shadow: 0px 10px 10px 5px rgb(53, 53, 53);
}
#Block3
{
   height: 320px;
   width: 80%;
   float: left;
   margin-left: 15%;
   margin-right: 5%;
   margin-top: 30px;
   background-color: rgb(158, 158, 158);
   border: solid black 7px;
   box-shadow: 0px 10px 10px 5px rgb(53, 53, 53);
}
#navigation
{
   position: fixed;   
   height: 75%;
   width: 10%;
   float: left;
   margin-left: 1%;
   margin-right: auto;
   top: 70px;
   background-color: rgb(158, 158, 158);
   border: solid black 7px;
   border-radius: 20px 20px 20px 20px;
   box-shadow: 0px 10px 10px 5px rgb(53, 53, 53);
}
.navigationButton
{
    margin-left:  5%;
    margin-right: auto;
    margin-top:  7%;
    width: 90%;
    height: 60px;
    text-decoration: none;
    background-color: rgb(199, 199, 199);
    border: ridge rgb(104, 104, 104) 5px;
}
a
{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background-color: inherit;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#GoodBoi
{
    position: relative;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 5%;
    height: 65%;
    transform: rotate(270deg);
    border: double black 7px;
    border-style: double;
    float: left;
    background-color: inherit;
}
h4
{
    margin-left: 30%;
    margin-top: 20px;
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
    background-color:inherit;
    text-align: left;
}
ul
{
    margin-left: 5%;
    text-align: left;
    font-size: 20px;
    padding: 5px;
    background-color: inherit;
    list-style-type: square;
}
li
{
    background-color: inherit;
}
ol
{
    list-style-type: decimal;
    padding: 5px;
    margin-left: 10%;
    text-align: left;
    font-size: 20px;
    background-color: rgb(150, 150, 150);
    background-color: inherit;
}