body
{
    background-color: darkslategray;

}
h1
{
    font-size: 3.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2em;
    text-align: center;
    box-shadow: 20em 100%;
    background-color: grey;
    border: ridge black 0.10em;
    width: 100%;
}
h2
{
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: italic;
}
h2~div
{
    text-align: center;
}
h2
{

}
img
{
    display: block;
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    transform: rotate(270deg);
    border: ridge black .5em;
    }
button
{
    padding: .75em;
    align-content: center;
    background-color: slategrey;
    border: color black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}