body
{
    background-color: darkslategray;

}
h1
{
    font-size: 3.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2em;
    text-align: center;
    box-shadow: 20em 100%;
    background-color: grey;
    border: ridge black 0.10em;
    width: 100%;
}
h2
{
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: italic;
}
h2~div
{
    text-align: center;
}
h2
{

}
h3
{


}
h3>p
{

}
img
{
    display: block;
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    transform: rotate(270deg);
    border: ridge black .5em;
    }
button
{
    
    padding: .75em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-right: 20%;
    margin-left: 5%;
    width: 33%

    align-content: center;
    background-color: slategrey;
    border: color black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.wow
{
    margin-left: 48%;
    background-color: black;
    border: ridge pink 5px;
    color:pink;
}
.wow:hover
{
    background-color: pink;
    border: ridge black 5px;
    color: black;
}