*
{
    background-color:rgb(73, 73, 83);
}
#navigation
{
   position: fixed;   
   height: 75%;
   width: 10%;
   float: left;
   margin-left: 1%;
   margin-right: auto;
   top: 70px;
   background-color: rgb(158, 158, 158);
   border: solid black 7px;
   border-radius: 20px 20px 20px 20px;
   box-shadow: 0px 10px 10px 5px rgb(53, 53, 53);
}
#navigation > button
{
    margin-left:  5%;
    margin-right: auto;
    margin-top:  7%;
    width: 90%;
    height: 60px;
    text-decoration: none;
    background-color: rgb(199, 199, 199);
    border: ridge rgb(104, 104, 104) 5px;
}
a
{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background-color: inherit;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.questionButton
{
    position: absolute;
    right: 22%;
    margin-top: 10px;
    margin-right:auto;
    margin-left: 60%;
    background-color: rgb(107, 105, 105);
    border: rgb(59, 59, 59) ridge 2px;
    color: black;
    width: auto;
    height: 6%;
    clear: both;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title
{
    margin-right: 10%;
    margin-left: 15%;
    margin-block-end: 30px;
    font-size: 60px;
    text-align: center;
    min-height: 125px;
    background-color:darkslategray;
    border:rgb(17, 17, 17) ridge 5px;
    border-radius: 22px;
    box-shadow: 10px 10px 5px gray;
    padding:10px;
}
.questionRow
{
    height:18%;
}
.username
{
    background-color: darkslategray;
}

#scoreboard
{
    opacity: .7;
    margin-left:  17%;
    margin-right: auto;
    padding: 10px;
    width: 70%;
    border: yellow 5px dotted;
}
#scoreboard > h3
{
text-align:left;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 20px;
}
#QuestionBlock > div > h5
{
    text-decoration: underline;
    text-align: left;
    margin-left: 15%;
    width:auto;
    font-size: 30px;
    clear: both;
    float: left;
}
#checkBoard
{
    position: absolute;
    margin-left: 20%;
    width: 30px;
    height: 100%;
    border: red dotted 5px;
}
img
{
    position: absolute;
    height: 30px;
    display: block;
    margin-top: 1%;
    float: left;
}
#QuestionBlock > div > h6
{
    text-align: left;
    margin-left: 20%;
    width: auto;
    clear: both;
    float: left;
    font-size: 22px;
    z-index: 1;
}
.returnAnswers
{
    color: rgb(35, 9, 129);
    font-size: 20px;
    margin-left: 50%;
    font-weight: bold;
}